extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug

block main 
    h1.padding List product

    .card.mb3-3.margin2.width3
        .card.sett.padding Search and Filter 
        .card.body
                .btn-group-toggle.no-boder.edit.padding.all(data-toggle='buttons')
                    .col6.width1
                     +filter-status(filterStatus)
                    .col6.width
                     +search(keyword)

    table.table.sett.margin2
        thead
            tr
                th(scope='col') Number 
                th(scope='col') Image 
                th(scope='col') Title
                th(scope='col') Price
                th(scope='col') Status
                th(scope='col') Action
        tbody
         each item, index in products 
            tr
                td #{index + 1}
                td 
                 img(
                    src=item.thumbnail
                    alt=item.title
                    width="100px"
                    height="auto"
                )
                td #{item.title}
                td #{item.priceNew}
                td 
                 if(item.status == "active")
                    a(href="#" class="badge badge-success") Active
                 else
                    a(href="#" class="badge badge-danger") Inactive
                td 
                 button.btn.btn-primary.btn-sm.set(type='button') Edit
                 button.btn.btn-secondary.btn-sm.set(type='button') Delete

    nav
        ul.pagination
            - for(var i = 1; i <= pagination.totalPage; i++)
                li(class= `page-item ${pagination.currentPage == i ? "active" : ""}`)
                    button.page-link(href='#') #{i}
  
